.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #d8dde3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #818693;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
}

.el-input__inner::-webkit-input-placeholder {
    color: #bac0cd;
}

.el-input__inner::-ms-input-placeholder {
    color: #bac0cd;
}

.el-input__inner::placeholder {
    color: #bac0cd;
}

.el-input__inner:hover {
    border-color: #bac0cd;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    border-color: #ffc200;
    outline: 0;
}

.el-input-group--append .el-select .el-input.is-focus .el-input__inner,
.el-input-group--prepend .el-select .el-input.is-focus .el-input__inner {
    border-color: transparent;
}

.el-input__inner::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}