<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holary.mapper.DishMapper">
    <!--分页查询和条件查询菜品-->
    <select id="selectAll" resultType="com.holary.dto.DishDto">
        select
        d.*,
        c.name categoryName
        from
        dish d
        inner join
        category c
        on
        d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                d.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
    </select>

    <!-- 根据菜品名称和菜品分类查询菜品 -->
    <select id="selectAll1" resultType="com.holary.dto.DishDto">
        select d.*,
        c.name categoryName
        from dish d
        inner join
        category c
        on
        d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                d.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            and status = 1
        </where>
    </select>

    <!--根据菜品名称查询菜品-->
    <select id="selectByName" resultType="com.holary.entity.Dish">
        select *
        from dish
        where name = #{name}
    </select>

    <!--添加菜品-->
    <insert id="insert">
        insert into dish(name, category_id, price, image, description, create_time, update_time)
        VALUES (#{name}, #{categoryId}, #{price}, #{image}, #{Description}, #{createTime}, #{updateTime})
    </insert>

    <!--根据菜品id查询菜品-->
    <select id="selectById" resultType="com.holary.entity.Dish">
        select *
        from dish
        where id = #{id}
    </select>

    <!--根据菜品id和菜品名称查询菜品-->
    <select id="selectByIdAndName" resultType="com.holary.entity.Dish">
        select *
        from dish
        where name = #{name}
          and id != #{id}
    </select>

    <!--根据菜品id修改菜品-->
    <update id="updateById">
        update dish
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null and name != ''">
                image = #{image},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--根据分类id查询菜品-->
    <select id="selectByCategoryId" resultType="com.holary.entity.Dish">
        select *
        from dish
        where category_id = #{categoryId}
    </select>

    <!--根据菜品id删除菜品-->
    <delete id="deleteById">
        delete
        from dish
        where id = #{id}
    </delete>
</mapper>