<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holary.mapper.OrderDetailMapper">
    <!--向订单详细表批量插入数据-->
    <insert id="insertBatch">
        insert into order_detail(order_number, dish_id, dish_name, dish_image, dish_price, number, amount)
        values
        <foreach collection="orderDetailList" item="od" separator=",">
            (#{od.orderNumber}, #{od.dishId}, #{od.dishName}, #{od.dishImage}, #{od.dishPrice}, #{od.number},
            #{od.amount})
        </foreach>
    </insert>

    <!--根据订单号查询订单详情-->
    <select id="selectByOrderNumber" resultType="com.holary.dto.OrderDetailDto">
        SELECT od.*,
               u.username,
               o.status,
               o.order_time
        FROM order_detail od
                 INNER JOIN
             `order` o
             ON
                 od.order_number = o.order_number
                 INNER JOIN
             user u
             ON
                 o.user_id = u.id
        WHERE od.order_number = #{orderNumber}
    </select>

    <!--根据用户id和订单号查询订单详情-->
    <select id="selectByUserIdAndOrderNumber" resultType="com.holary.dto.OrderDetailDto">
        SELECT od.*,
               u.username,
               o.status,
               o.order_time
        FROM order_detail od
                 INNER JOIN
             `order` o
             ON
                 od.order_number = o.order_number
                 INNER JOIN
             user u
             ON
                 o.user_id = u.id
        WHERE o.user_id = #{userId}
          and od.order_number = #{orderNumber}
    </select>
</mapper>
