<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holary.mapper.OrderMapper">
    <!--提交订单-->
    <insert id="insertOrder">
        insert into `order`(order_number, user_id, consignee, consignee_phone, address, amount, remark, status,
                            order_time)
        VALUES (#{orderNumber}, #{userId}, #{consignee}, #{consigneePhone}, #{address}, #{amount}, #{remark}, #{status},
                #{orderTime})
    </insert>

    <!--订单条件查询-->
    <select id="list" resultType="com.holary.entity.Order">
        select *
        from `order`
        <where>
            <if test="orderNumber!=null and orderNumber != ''">
                order_number = #{orderNumber}
            </if>
            <if test="consignee!=null and consignee != ''">
                and consignee like concat('%', #{consignee},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <!--根据订单号查询订单-->
    <select id="selectByOrderNumber" resultType="com.holary.entity.Order">
        select *
        from `order`
        where order_number = #{orderNumber}
    </select>

    <!--根据订单号修改订单状态-->
    <update id="updateByOrderNumber">
        update `order`
        set status = #{status}
        where order_number = #{orderNumber}
    </update>

    <!--用户条件查询订单-->
    <select id="selectByUserId" resultType="com.holary.entity.Order">
        select *
        from `order`
        <where>
            user_id = #{userId}
            <if test="orderNumber != null and orderNumber != ''">
                and order_number = #{orderNumber}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>
